@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', cursive;
    background-color: #CFDBD5;
    overflow-x: hidden;
}

.container {
    height: 100vh;
}

.container .background {
    position: relative;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./assets/Main.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.container header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.container header .logo img {
    width: 120px;
    transition: all 0.3s;
}

.container header .logo img:hover {
    filter: drop-shadow(0 0 4px #e8eddf);
}

header .nav-header .list-menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
    font-size: 1.4em;
}

header .nav-header .list-menu a {
    color: #E8EDDF;
    cursor: pointer;
    transition: all .2s;
}

header .nav-header .list-menu a:hover {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255));
}

header .contact {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5CB5C;
    padding: 10px 0;
}

header .contact i {
    padding-right: 10px;
}

.container .main-content {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #E8EDDF;
    bottom: 0;
}

.container .main-content .left {
    position: absolute;
    top: -700px;
    font-size: 2em;
    left: 200px;
}

.container .main-content .main-desc {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: space-between;
    top: -130px;
}

.container .main-content .main-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .main-content button {
    width: 250px;
    height: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 4px solid #E8EDDF;
    color: #E8EDDF;
    cursor: pointer;
    transition: all 0.2s;
}

.container .main-content button:hover {
    background-color: #E8EDDF;
    color: black;
}

.container .desc-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .desc-content .desc-text {
    padding: 40px 300px 60px 300px;
    font-size: 1em;
    color: #242423;
}

.container .desc-content .desc-text img {
    width: 100%;
}

.container .pict-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #F5CB5C;
}

.container .pict-content .text-pic {
    font-size: 3em;
    margin-top: -100px;
    columns: #242423;
}

.container .pict-content .slide {
    display: none;
}

.container .pict-content img {
    border-radius: 10px;
    width: 70%;
    
}

.container .pict-content .button {
    position: absolute;
    width: 65vw;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.container .pict-content .button button {
    background: transparent;
    border: none;
}

.container .pict-content .button i {
    font-size: 4em;
    cursor: pointer;
}

.container .pict-content .button i:hover {
    filter: drop-shadow(0 0 4px #F5CB5C);
}

.container .safety-content {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: #E8EDDF;
}

.container .safety-content .image {
    width: 75vw;
    height: 100vh;
    background-image: url(./assets/SafetyArea.jfif);
    background-size: cover;
    background-position: center;
}

.container .safety-content .desc {
    width: 100%;
    padding: 30px;
    color: #242423;
}

.container .safety-content .desc h1, h3 {
    padding: 20px 0 5px 0;
}

.container .safety-content .desc p {
    text-align: justify;
}

.container .safety-content .desc a {
    color: #242423;
    text-decoration: underline;
}

.container .perform-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .perform-content .img {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Perform.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.container .perform-content .perform-desc {
    width: 70%;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-between;
    top: 40vh;
    
}

.container .perform-content .perform-detail {
    width: 400px;
    text-align: center;
    color: #E8EDDF;
}

.container .range-content {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: #E8EDDF;
}

.container .range-content .range-section {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.container .range-content .range-section h2 {
    font-weight: 400;
}

.container .range-content .range-section p {
    text-align: justify;
}

.container .range-content .range-section img {
    width: 100%;
}

.container .range-content .range-sec-right {
    height: 100vh;
    overflow-y: hidden;
}

.container .range-content .range-bg {
    width: 75vw;
    height: 100vh;
    position: absolute;
    background-image: url(./assets/Range.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container .range-content .range-desc {
    width: 75vw;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    top: 50px;
    color: #E8EDDF;
    justify-content: center;
}

.container .range-content .range-desc .range-detail {
    width: 400px;
    justify-content: center;
}

.container .interior-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container .interior-content img {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.container .interior-content .interior-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 50vh;
    position: relative;
    justify-content: space-between;
    align-items: center;
    left: 1500px;
    color: #E8EDDF;
    background-color: #2424237c;
    padding: 30px;
    border-radius: 20px;
}

.container .interior-content .interior-footer {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #CFDBD5;
    display: flex;
    justify-content: space-around;
    padding: 50px 300px;
    align-items: center;
}

.interior-content .interior-footer .footer-header {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.container .complaint-form {
    width: 100%;
    height: 50vh;
    background-color: #F5CB5C;
}

.container .complaint-form .logo {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .complaint-form .logo img {
    width: 100%;
    background-color: #e8eddfb3;
    padding: 20px;
    border-radius: 20px;
}

.container .complaint-form form {
    height: 100%;
    width: 50%;
    float: right;
    padding: 50px 150px;
}

.container form .input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Poppins';
    background-color: #E8EDDF;
}

.container form .input::placeholder {
    display: none;
    font-family: 'Poppins';
    margin: auto;
}

.container form .input:focus {
    outline: none;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Poppins';
}

.container form textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Poppins';
    background-color: #E8EDDF;
}

.container form textarea:focus {
    outline: none;
}

.container form button {
    width: 50%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Poppins';
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #242423;
    color: #E8EDDF;
}

.container form button:hover {
    filter: drop-shadow(0px 0px 3px #E8EDDF);
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #242423;
    position: relative;
    height: 40%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

footer .social-media {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100%;
    font-size: 3em;
    color: #F5CB5C;
}

footer .social-media i {
    cursor: pointer;
    margin: 10px;
}

footer .social-media i:hover {
    filter: drop-shadow(0 0 5px #E8EDDF);
}

footer .footer-p-card {
    display: flex;
}

footer .footer-card {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    color: #E8EDDF;
}

footer .footer-card a {
    color: #F5CB5C;
    padding: 5px 0;
}

footer .footer-card a:hover {
    color: #E8EDDF;
}

@media only screen and (max-width: 1116px) {

    .container {
        width: 100%;
        position: relative;
    }

    .container header {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        background: transparent;
    }

    .container header .logo {
        width: 10%;
    }

    .container header .nav-header {
        width: 50%
    }

    .container header .nav-header .list-menu {
        display: flex;
        justify-content: space-around;
        font-size: 1.2em;
        width: 100%;
    }

    .container header .contact {
        width: 15%;
        font-size: .7em;
    }

    .container .background {
        width: 100%;
        height: 100vh;
    }

    .container .desc-content {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
  
    .container .desc-content .desc-text {
        display: flex;
        flex-direction: column;
        padding: 50px 100px;
    }
    .container .perform-content .perform-desc {
        width: 80vw;
        display: flex;
        position: relative;
        margin: auto;
        justify-content: space-between;
        top: 37vh;
        font-size: .8em;
    }
  
    .container .range-content .range-section {
        width: 30vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 30px;
        font-size: .8em;
    }

    .container .range-content .range-section img {
        margin-top: 50px;
    }

    .container .range-content .range-sec-right {
        width: 70vw;
    }

    .container .range-content .range-sec-right .range-bg {
        width: 70vw;
        position: absolute;
        height: 100vh;
    }

    .container .range-content .range-desc {
        width: 80%;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        margin: auto;
        top: 50px;
        font-size: .8em;
        justify-content: space-around;
    }

    .container .interior-content {
        width: 100%;
        height: 70vh;
        position: relative;
    }

    .container .interior-content img {
        width: 100%;
        height: 70%;
        position: absolute;
    }

    .container .interior-content .interior-card {
        left: 750px;
        font-size: .8em;
        height: 300px
    }

    .container .interior-content .interior-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }

    .container .interior-content .interior-footer .footer-header {
        width: 500px;
    }

    .container .interior-content .interior-footer .footer-desc {
        width: 400px;
    }

    .container .complaint-form {
        width: 100%;
    }

    .container .complaint-form .logo {
        padding: 50px;
    }

    .container .complaint-form form {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .complaint-form .input {
        height: 40px;
    }

    .container .complaint-form textarea {
        height: 150px;
    }

    footer {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      padding: 20px;
      height: 300px;
    }
}

@media only screen and ( max-width: 567px ) {

    html {
        overflow-x: hidden;
    }

    .container {
        width: 100vw;
    }

    .container header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;
        background-color: #242423;
        position: relative;
    }

    .container header .logo {
        width: 100%;
        height: 100%;
    }

    .container header .logo img {
        width: 100px;
    }

    .container header .nav-header {
        display: flex;
        height: 100%;
        justify-content: space-around;
        width: 100%;
    }

    .container header .nav-header .list-menu {
        position: relative;
        font-size: 1em;
        width: 100%;
    }

    .container header .nav-header .list-menu a {
        padding: 10px;
    }

    .container header .contact {
        display: none;
    }

    .container .main-content {
        position: relative;
    }

    .container .main-content .left {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2em;
    }

    .container .main-content .main-desc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 150px;
        position: absolute;
        top: 700px;
    }

    .container .main-content .main-desc .main-detail {
        font-size: 1em;
    }

    .container .main-content .main-desc button {
        grid-column-start: 1;
        grid-column-end: 4;
        margin: auto;
    }

    .container .background {
        background-image: url(./assets/Main.avif);
        background-position: -300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container .desc-content {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .container .desc-content .desc-text {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .container .desc-content .desc-text img {
        width: 100vw;
    }

    .container .pict-content {
        height: 40%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .pict-content .text-pic {
        text-align: center;
        font-size: 1.5em;
    }

    .container .pict-content img {
        margin-bottom: -60px;
    }

    .container .pict-content .button {
        top: 15px;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .container .pict-content button {
        font-size: .5em;
    }

    .container .safety-content {
        width: 100vw;
        height: 80%;
        display: flex;
        flex-direction: column-reverse;
    }

    .container .safety-content .image {
        width: 100%;
        height: 400px;
    }

    .container .safety-content .desc {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: .8em;
    }

    .container .perform-content {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .container .perform-content .img {
        height: 400px;
        background-image: url(./assets/Perform.avif);
        background-position: -100px;
        background-size: cover;
        position: absolute;
    }

    .container .perform-content .perform-desc {
        width: 80%;
        display: flex;
        position: relative;
        top: 150px;
        font-size: .5em;
        justify-content: space-around;
    }

    .container .range-content {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
    }

    .container .range-content .range-section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-size: .7em;
    }

    .container .range-content .range-sec-right {
        width: 100vw;
        height: 100%;
        position: relative;
    }

    .container .range-content .range-sec-right .range-bg {
        width: 100vw;
        height: 500px;
        background-image: url(./assets/Range.avif);
        background-position: -300px;
    }

    .container .range-content .range-sec-right .range-desc {
        display: flex;
        flex-direction: column;
        font-size: .5em;
        width: 100%;
        height: 150px;
        justify-content: space-around;
        position: absolute;
    }

    .container .interior-content {
        width: 100%;
        height: 550px;
        display: flex;
    }

    .container .interior-content img {
        position: relative;
        height: 300px;
    }

    .container .interior-content .interior-card {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        height: 80px;
        left: 60px;
        bottom: 100px;
        font-size: .5em;
        align-items: center;
    }

    .container .interior-content .interior-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 150px;
    }

    .container .interior-content .interior-footer .footer-desc {
        width: 100vw;
        padding: 0 20px;
        text-align: justify;
    }

    .container .complaint-form {
        position: relative;
        width: 100vw;
        height: 700px;
        display: flex;
        flex-direction: column;
    }

    .container .complaint-form .logo {
        width: 100%;
        margin: auto;
        padding: 50px;
    }

    .container .complaint-form form {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 50px;
    }

    footer {
        width: 100vw;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    footer .social-media {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        height: 100px;
        margin: 50px auto;
        font-size: 4em;
    }

    footer .footer-p-card {
        font-size: .8em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    footer .footer-p-card .footer-card {
        margin: 0 10px;
        padding: 0;
    }

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #242423;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #F5CB5C;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #d6b24f;
  }